body {
  min-height: 100vh;
  margin: 0;
  background: linear-gradient(135deg, #f0f4ff 0%, #ffffff 100%) !important;
  font-family: 'Poppins', sans-serif;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
